---
title: Hakkımızda
heading: Hakkımızda
subtitle: Biz Kimiz & Neler Yapıyoruz?
---
<section class="diagonal patterned">
<div class="container">
<p>Magitive, 2017 yılında, web dünyasında insanları mutlu etme tutkusu ile kuruldu. Amacımız, müşterilerimizin memnuniyetini en üst düzeyde tutarak onlara en iyi dijital çözümleri sunmaktır. Genç ve deneyimli ekibimiz, şirketiniz veya markanız için harika web siteleri oluşturma konusunda yeterli bilgi birikimine sahiptir. Kullanıcı dostu, mobil uyumlu ve SEO optimizasyonlu web siteleri yapmak bizim için oldukça basittir.</p>

<p>Ancak hizmetlerimiz yalnızca web tasarımıyla sınırlı değil! Magitive olarak sunduğumuz çözümlerle, işletmenizin dijital dünyada büyümesine yardımcı oluyoruz.</p>

<p><strong>Web Tasarım & Geliştirme</strong>: Modern ve yenilikçi tasarımlar ile işletmenize özel profesyonel web siteleri oluşturuyoruz.<br />
<strong>Website Kurulum</strong>: Domain (alan adı) kaydı, hosting hizmetleri ve teknik altyapı desteği ile web sitenizin sorunsuz çalışmasını sağlıyoruz.<br />
<strong>Dijital Pazarlama</strong>: Google Ads, sosyal medya yönetimi ve içerik pazarlama stratejileri ile markanızı hedef kitlenize ulaştırıyoruz.<br />
<strong>Site İçi SEO Geliştirmeleri</strong>: Web sitenizin arama motorlarında daha üst sıralarda yer almasını sağlayarak, organik trafiğinizi artırıyoruz..<br />
<strong>Domain & Hosting Hizmeti</strong>: Güçlü ve güvenilir hosting çözümleri sunarak, sitenizin her zaman hızlı ve güvenli olmasını sağlıyoruz.<br />
<strong>Yapay Zeka Çözümleri</strong>: Dijital dönüşümünüzü hızlandırmak için yapay zeka destekli sistemler ve otomasyon araçları geliştiriyoruz.</p>
<br /><br />
<p>Magitive, Adıyaman’da doğup büyüyen bir şirket olarak, yalnızca yerel pazarda değil, global ölçekte de müşterilerine en iyi dijital çözümleri sunmaktadır. Türkiye’nin dört bir yanındaki ve yurt dışındaki işletmelere profesyonel web tasarım, yazılım ve dijital pazarlama hizmetleri sağlayarak, dijital dünyada sınırları ortadan kaldırıyoruz. Küresel vizyonumuzla, her sektörden markanın dijital dünyada güçlü bir varlık göstermesine yardımcı olmaya devam ediyoruz.</p>

	    <!--<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
		-->
	</div>
</section>
