---
layout: page
---
<section class="diagonal">
	<div class="blog-post text-container">
		
		<div class="post-content">
			{{ content }}
		</div>
	</div>
</section>



<section class="diagonal alternate">
	<div class="text-container">
		<h2>Sonraki post</h2>
		<div class="blog-post">
			{% if page.next %}
				{% include post-summary.html post=page.next %}
			{% elsif page.previous %}
				{% include post-summary.html post=page.previous %}
			{% endif %}
		</div>
	</div>
</section>
<!--tekil blog yazısı sayfası-->

